*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
.yuuta.jks
gradle.properties
/push/includes
/provider/src/main/java/top/trumeet/mipush/provider/gen